*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.btn_primary{
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 18px 35px;
}

/* header and navigation styles */

.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.text_primary{
    color: #FD6E0A;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}

nav ul{
    display: flex;
    align-items: center;
}
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    
}

/* bannar styles */

.bannar{
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sub_title{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;

}
.bannar_title{
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}
.text_massage{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About section style */

.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px; 
    padding: 130px 150px;   
    text-align: center;

}
.about_title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;

}
.about_dep{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    
    color: #757575;

}
.about_info_container{
    display: flex;
    justify-content: space-around;
}
.info_title{
    color: #757575;
    font-size: 20px;
    text-align: center;

}
.info_dep{
    font-weight: 700;
    font-size: 20px;
    color: #474747;

}

/* what i do style   */

.skills_container{
    display: flex;
    gap: 24px;
}
.skills_dep{
    font-size: 16px;
    color: #757575;

}
.skills_title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;

}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.section_title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;

}
.i_do_dep{
    font-size: 18px;
    text-align: center;
    color: #757575;
    line-height: 30px;
    margin-bottom: 50px;
}